@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

* {
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
    box-sizing: border-box;
}

header {
    width: 100%;
    height: 90px;
    position: sticky;
    top: 0;
    border-bottom: 1px solid white;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    z-index: 1000;
}

.header-container {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-left {
    margin-left: 10px;
    margin-right: 10px;
}

@media screen and (min-width: 576px) {
    .header-left {
        margin-left: 15px;
        margin-right: 15px;
    }

    .header-left svg {
        width: 100px;
        height: 100px;
    }
}


.header-location {
    margin-right: 10px;
}

.header-location-title {
    color: black;
    font-weight: 600;
    margin-bottom: 3px;
    font-size: 12px;
}

.header-location-dsc {
    font-size: 10px;
    color: black;
    font-weight: 400;
}

@media screen and (min-width: 576px) {
    .header-location-title {
        font-size: 18px;
    }

    .header-location-dsc {
        font-size: 15px;
    }
}

@media screen and (min-width: 768px) {
    .header-left svg {
        width: 110px;
        height: 110px;
        margin-right: 20px;
    }

    .header-location-title {
        font-size: 20px;
        margin-right: 25px;
    }

    .header-location-dsc {
        font-size: 15px;
    }

    .header-location-dsc {
        font-size: 18px;
    }
}

@media screen and (min-width: 992px) {
    .header-left svg {
        width: 130px;
        height: 130px;
        margin-right: 40px;
    }

    .header-location-title {
        font-size: 30px;
        margin-right: 40px;
    }

    .header-location-dsc {
        font-size: 15px;
    }

    .header-location-dsc {
        font-size: 20px;
    }
}

@media screen and (min-width: 1200px) {
    .header-left svg {
        width: 150px;
        height: 150px;
        margin-right: 55px;
    }

    .header-location-title {
        font-size: 30px;
        margin-right: 80px;
    }

    .header-location-dsc {
        font-size: 22px;
    }

}


.search-login-container {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

@media screen and (min-width: 576px) {
    .search-login-container {
        padding-left: 30px;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }
}

.header-search {
    order: 1;
    width: 160px;
    height: 36px;
    cursor: text;
    display: flex;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.header-search svg {
    width: 15px;
    margin-left: 5px;
    margin-right: 5px;
}

@media screen and (min-width: 576px) {
    .header-search {
        order: 0;
        width: 200px;
        height: 40px;
        margin-right: 10px;
    }

    .header-search svg {
        width: 20px;
    }
}


.header-search input {
    background-color: transparent;
    border: none;
    outline: none;
    width: 120px;
}

.login-cart-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

@media screen and (min-width: 576px) {
    .header-search input {
        width: 130px;
    }
}

.login {
    font-size: 15px;
    font-weight: 500;
    margin-right: 10px;
}

.header-right {
    display: flex;
    background-color: green;
    width: 60px;
    height: 30px;
    padding: 6px 10px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mycart-text {
    font-size: 10px;
}

.header-right svg {
    margin-right: 5px;
    width: 50px;
}

@media screen and (min-width: 576px) {
    .header-right {
        width: 70px;
        height: 40px;
        padding: 6px 10px;
        border-radius: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 30px;
    }

    .mycart-text {
        font-size: 12px;
    }

    .header-right svg {
        margin-right: 5px;
        width: 50px;
    }
}

@media screen and (min-width: 768px) {
    .search-login-container {
        padding-left: 0px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .header-search {
        order: 0;
        width: 250px;
        height: 43px;
        margin-right: 10px;
    }

    .header-search svg {
        width: 20px;
    }

    .header-search input {
        width: 150px;
    }

    .login {
        font-size: 18px;
        font-weight: 500;
        margin-right: 10px;
    }

    .header-right {
        width: 80px;
        height: 50px;
        margin-right: 0px;
    }

    .mycart-text {
        font-size: 15px;
    }

    .header-right svg {
        margin-right: 5px;
        width: 50px;
    }
}

@media screen and (min-width: 992px) {
    .header-search {
        order: 0;
        width: 280px;
        height: 45px;
        margin-right: 10px;
    }

    .header-search svg {
        width: 22px;
    }

    .header-search input {
        width: 180px;
    }

    .login {
        font-size: 20px;
        font-weight: 500;
        margin-right: 10px;
    }

    .header-right {
        width: 90px;
        height: 55px;
        margin-right: 0px;
    }

    .mycart-text {
        font-size: 18px;
    }

    .header-right svg {
        margin-right: 5px;
        width: 50px;
    }
}

@media screen and (min-width: 1200px) {
    .header-search {
        order: 0;
        width: 300px;
        height: 48px;
        margin-right: 10px;
    }

    .header-search svg {
        width: 24px;
    }

    .header-search input {
        width: 200px;
    }

    .login {
        font-size: 20px;
        font-weight: 500;
        margin-right: 10px;
    }

    .header-right {
        width: 100px;
        height: 60px;
        margin-right: 0px;
    }

    .mycart-text {
        font-size: 20px;
    }

    .header-right svg {
        margin-right: 5px;
        width: 50px;
    }
}

main {
    display: flex;
}

.main-container {
    width: 100%;
}

.section-1,
.section-1 img {
    position: relative;
    top: 50px;
    width: 100%;
}
.section-2 {
    display: flex;
    overflow: auto scroll;
    gap: 10px;
    position: relative;
    top: 105px;
    padding: 10px;
}

.section-2img {
    cursor: pointer;
    display: flex;

}

.section-2 img {
    width: 70px;
    height: 50px;
}

@media screen and (min-width: 576px) {
    .section-2 img {
        width: 100px;
        height: 80px;
    }
}

@media screen and (min-width: 768px) {
    .section-2 img {
        width: 150px;
        height: 110px;
    }
}

@media screen and (min-width: 1200px) {
    .section-2 img {
        width: 200px;
        height: 160px;
    }
}

.section-3 {
    display: grid;
    grid-template-columns: repeat(10, 10%);
    width: 100%;
    position: relative;
    top: 105px;
}

.section-3img img {
    width: 100%;
}

.content-title,
.content-desc {
    color: black;
    font-weight: 600;

}

.svg img {
    width: 20px;
}

.one {
    display: flex;
}

.avg {
    display: flex;
    align-items: end;
    margin-left: 10px;
}

.one {
    margin-top: 10px;
}

.whole-content {
    padding: 0px 10px;
    width: 150px;
}

.image img {
    width: 100px;

}

.section-4 {
    position: relative;
    top: 120px;
}

.section-4card {
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.mainheading {
    display: flex;
    column-gap: 10px;
    margin-top: 20px;
    overflow: auto scroll;
}

.abc img {
    width: 10px;
}

footer {
    position: relative;
    top: 150px;
    text-align: center;
    margin-top: 20px;
}